<h1><%= @user.first_name %></h1>
<p><% if @user.gender === "M" %>
    Hi, I'm a guy
    <% else %>
    Hi I'm a girl
      <% end %>

  My pets are: <br />
  <% @user.pets.each do |pet| %>
    <%= link_to pet.name, pet_path(@user) %>
  <% end %>


</p>

<p>I've been a member since <%= @user.member_since %> </p>