    <footer>
       <ul>
         <li><%= link_to "Help & Support", "http://petbook.uservoice.com/" %></li>
         <li>Built by Sam P, 2014</li>
         <li>FAQ</li>
         <li><%= link_to "General Assembly", "https://generalassemb.ly/" %></li>
       </ul>
    </footer>

