<ul>
  <li><%= link_to 'Edit my Info', edit_user_registration_path(current_user) %></li>
  <li><%= link_to 'All Pets', pets_path %></li>
  <li><%= link_to 'Members', users_path %></li>
  <li><%= link_to 'Home', root_path %></li>
</ul>