<div class="sidenav col-md-2">
<ul class="nav nav-pills nav-stacked inverse">
  <li><%= link_to 'My Photos', user_photos_path(current_user) %></li>
  <li><%= link_to 'My Posts', user_posts_path(current_user) %></li>
  <li><%= link_to 'Edit my Info', edit_user_registration_path(current_user) %></li>
  <li><%= link_to 'Add a new Pet', new_user_pet_path(current_user) %></li>

</ul>
</div>