<div class="sidenav col-md-2">
<ul class="nav nav-pills nav-stacked inverse">
  <li><%= link_to 'People I follow', root_path %></li>
  <li><%= link_to 'My Photos', root_path %></li>
  <li><%= link_to 'My Posts', root_path %></li>
  <li><%= link_to 'Edit my Info', edit_user_registration_path(current_user) %></li>

</ul>
</div>