<p>
  <%= image_tag @snapshot.image.url(:medium)  %>
</p>

<% if current_user === @snapshot.user %>
<%= link_to 'Edit', edit_snapshot_path(@snapshot) %> |
<% end %>

<% if session[:last_page] %>
<%= link_to 'Back', session[:last_page] %>
<% end %>