/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require scaffolds
 *= require home
 *= require pets
 *= require_self
 */
@import "bootstrap";
@import "compass";

/*********** ============= Global Element Styles ===================== ************/
html{
  height: 100%
}

body{
  background-color: #000;
  color: #F2EFEC;
  height: 100%
}

footer{
  bottom: 0px;
  padding: 5px 10px;
  clear: both;
}

table {
  color: #000;
}

td {
  text-align:center;
  vertical-align:middle;
}

/*********** ============= Text Styles ===================== ************/

p{
  color: #F2EFEC;
}

h1{
  color: #BFC5C7;
}

h2{
  color: #BFC5C7;
}

/*********** ============= Positioning ===================== ************/
.left{
  float: left;
  padding-right: 5%;
  padding-bottom: 3%
}

.right{
  float: right ;
  padding-left: 5%;
}

/*********** ============= Wrappers and Backgrounds ===================== ************/

#transitionbg-top{
  background: url(image_path("std_bg_top.jpg"));
  background-repeat: repeat-x;
  background-position: center top;
}
#transitionbg{
  background: url(image_path("std_bg_bottom.jpg"));
  background-repeat: repeat-x;
  background-position: center bottom;  /* to the bottom */

}

.container{
  width: 960px;
  padding: 0px;
  margin-top: 85px;
  background-color: #1D2F4E;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.announce{
  width: 960px;
  margin: 0 auto;
  padding-top: 15px;
}

@media(max-width: 650px){
  .container{
    width: 650px;
  }
}

.content{
  padding: 40px;
  margin-bottom: 80px;

}

.formwrapper{
  width: 65%;
  padding: 20px;
}

.sidenav{
  @include filter-gradient(rgba(195,217,255,1), rgba(125,185,232,0), vertical);
  @include background-image(linear-gradient(top, rgba(195,217,255,1) 0%,rgba(174,207,248,1) 30%,rgba(151,197,240,1) 63%,rgba(125,185,232,0) 100%));
  padding-bottom: 15%;
  padding-top: 10px;
  margin-left: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


/*********** ============= LOGIN PANEL ===================== ************/

.loginpanel{
  background-color: #000;
  width: 200px;
  height: 70px;
  color: #FFF;
  margin: 0 auto;
  position: top;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 3px;
}

.loginPanelLeft{
  float: left;
  padding-right: 5px;
  padding-left: 5px;
}

.loginPanelRight{
  width: 60%;
  float: right;
  padding-left: 10px;
}

.loginPanelSignedOut{
  text-align: center;
  padding: 2px 5px;
}


/*********** ============= Avatar Sizes ===================== ************/

.avatar_label{
}

.xs_avatar{
  clear: both;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 3px;
}

.s_avatar{
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 3px;
}


.m_avatar{
  width: 300px;
  height: 300px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
}


.l_avatar{
  width: 350px;
  height: 350px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 3px;
}


/*********** ============= Profile styles ===================== ************/

.profiletext{
  padding-left: 15px;
  width: 550px;
}

.impinfo{
  float: right;
  color: #000;
  width: 300px;
  margin-right: 40px;
  margin-top: 20px;
}

.impinfo p{
  color: #000;
}

.impinfo strong{
  color: #1D2F4E;
}

/*********** ============= Lists of pets ===================== ************/


.petlist {
  clear: both;
  padding: 15px;
}

.petitem {
  float:left;
  padding: 10px;
  text-align: center;
}